@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
*{
    box-sizing: border-box;
	
}

.okvir {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}


body{
	
	background-image: url(slike/lifestyle.jpg);
	background-repeat: repeat-y;

}

.Header
{
	width: 100%;
	padding: 20px 0;
	background-color: rgba(56, 56, 56, 0.43);
}

/*h1 za naziv portala*/
#ljiz
{
	font-family: Kaushan Script, sans-serif;
	font-size: 30px;
	text-align: center;
	color:#ffcccc;
}



ul
{
	margin-left: 0px;
	padding: 0px;
	background-color: rgba(56, 56, 56, 0.43);
}

ul  li{
	
	background-color: rgba(56, 56, 56, 0.43);
	width: 188px;
	height: 50px;
	line-height: 50px;
	font-family: Kaushan Script, sans-serif;
	font-size: 22px;
	float: left;
	text-align:center;
	list-style: none;
	margin-right: 1%;
}

#prijava
{
	width: 200px;
	margin-right: 0px;
}
ul  li a{
	
	color: #ffcccc;
	text-decoration: none;
	display: block;
}

ul li a:hover
{
	background: #ff4d4d;
	transition: all 0.45s;
	opacity: 0.7;
}


ul ul
{
	margin: 0px;
	padding: 0px;
	background-color: rgba(56, 56, 56, 0.43);
	
}

ul li ul li
{
	background-color: rgba(56, 56, 56, 0.43);
	margin: 0px;
	margin-bottom: 2%;
	display:none;

}

ul li:hover ul li
{
	display:block;
}

#iefix
{
	position:relative;
    z-index:1000;
	max-width: 100%;
}

#submenu1
{
	position: relative;
    display: inline-block;
}

#submenu2
{
	position: relative;
    display: inline-block;
}

#news
{
	margin-left: 38.25%;
	margin-right: 38.25%;
	border-bottom-style: solid;
}

#vijesti
{
	font-family: Kaushan Script, sans-serif;
	text-align: center;
	color: #e68970;
}


#clanak_1
{
	border: 1px solid black;
	margin-top:20px;
	padding: 20px;
	background:rgba(98, 138, 98, 0.45);
	color: white;
	font-size: 19px;
}

#clanak_2
{
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	background:rgba(251, 204, 243, 0.5);
	color: white;
	float:left;
	font-size: 18px;
	color: purple;
}


#zumba
{
	height: auto;
	max-width: 100%;
	margin: 15px;
	margin-left: 5px;
	border: 3px solid black;
	float:left;
}

#red_forma
{
	width: 100%;
}



table
{
	width: 100%;
	height: auto;
	
}

.kontakt_form
{
	border: 1px solid black;
	padding: 5px;
	background: rgba(66, 78, 66, 0.67);
	color: white;
	height: auto;
	width: 100%;
}


input
{
	width: 100%;
	height: 26px;
	margin-top: 10px;
	outline: 0;
}

select
{

	width: 100%;
	margin-top: 10px;
	height: 26px;
}
label
{
	font-family: Kaushan Script, sans-serif;
	color: white;
}


td
{
	text-align: center;
}

#lista_novosti
{
	overflow:scroll;
	height: 70%;
	margin-left: 4.25%;
	margin-right: 4.25%;

}


#red_clanak_z
{
	height: 80%;
}

#clanakz
{
	border: 1px solid black;
	background: rgba(57, 50, 50, 0.4);
	margin: 5%;
	color: white;
	padding: 5px;
	height: 100%;
	overflow:scroll;
}

#paragraf_z
{
	font-size: 17px;
}

#naslov_z
{
	text-align: center;
	font-size: 35px;
}

#slika_z
{
	max-width: 100%;
	height: auto;
	margin: 0 10px;
	margin-bottom: 10px;
	border: 3px solid black;
	float: left;
}

.clanak
{
	border: 1px solid black;
	background: rgba(57, 50, 50, 0.4);
	margin: 5%;
	color: white;
	padding: 5px;
	height: 100%;
	overflow:scroll;
}

#komentiraj
{
	margin-left: 300px;
	margin-right: 100px;
	padding: 10px;
	padding-left: 150px;
	padding-right: 150px;
	text-decoration: none;
	background-color: rgba(157, 159, 157, 0.7);
	font-family: Kaushan Script, sans-serif; 
	  border: 2px solid black;	
}

#komentiraj:hover
{
	background: #ff4d4d;
	transition: all 0.45s;
	opacity: 0.7;
}

@media screen and (max-width: 768px)
{
		
	#kolona1
	{
		width: 100%;
		margin: 0px;
	}
	
	#kolona2
	{
		width: 100%;
		margin: 0px;
	}
	
	#clanak_2
	{
		margin: 0px;
	}
	
	#news
    {
    width: 100%;
	margin: 0px;
    }
	
	#zumba
	{
		margin: 5px;
	}
	
.eleven {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 100%;
	float: left;
	margin-left: 2%;

}
.seven {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 100%; /* This div spans six columns (the entire row)*/
	float: left;
	margin-left: 2%;
}
.five {
	width: 100%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 100%;
	float:left;
	margin-left: 2%;

}
.three {
	width: 100%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 100%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 100%;
	float:left;
	margin-left: 2%;
}
}

@media screen and (max-width: 500px)
{
	
	.meni{
		box-sizing: border-box;
		width: 100%;
	}
	
	
     .meni ul
     {
	width: 100%;
	height: auto;
    margin-left: 35%;
	margin-right: 35%;
	padding-left: 0%;
    }

    .meni ul li{
		margin: 0px;
		width: 100%;
		display: table-row;
        font-size: 18px;
        text-align: center;
		padding: 0px;
		}
	
	
	#kolona1
	{
		width: 100%;
		margin: 0px;
	}
	
	#kolona2
	{
		width: 100%;
		margin: 0px;
	}
	
	#clanak_2
	{
		margin: 0px;
	}
	
	#news
    {
    width: 100%;
	margin: 0px;
    }
	
	#zumba
	{
		margin: 5px;
	}
	.eleven {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 100%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 100%; /* This div spans six columns (the entire row)*/
	float: left;
	margin-left: 2%;
}
.five {
	width: 100%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 100%;
	float:left;
	margin-left: 2%;

}
.three {
	width: 100%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 100%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 100%;
	float:left;
	margin-left: 2%;
}

}







.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child { 
	margin-left: 0; 
}
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; 
	float: left;
	margin-left: 2%;
}
.five {
	width: 40.5%; 
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; 
	padding: 0px;
	margin: 0px;
}